<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving HTML Page through Express-JS</title>
    <style>
        body{
            background-color: black;
            padding: 0;
            margin: 0;
            font-family: fantasy;
        }

        h3{
            text-align: center;
            align-items: center;
            justify-content: center;
            color: aqua;
        }
    </style>
</head>
<body>
    <h3>Hey! THis is HTML File Served throgh Express-JS</h3>
</body>
</html>